<div class ="card" style="width: 18rem;">
  <div class="card-body">

    <div id="<%= dom_id fullapplication %>">
      <p>
        <strong>Suffix:</strong>
        <%= fullapplication.suffix %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= fullapplication.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= fullapplication.last_name %>
      </p>

      <p>
        <strong>Ssn:</strong>
        <%= fullapplication.SSN %>
      </p>

      <p>
        <strong>Birthday:</strong>
        <%= fullapplication.birthday %>
      </p>

      <p>
        <strong>Street address:</strong>
        <%= fullapplication.street_address %>
      </p>

      <p>
        <strong>Town:</strong>
        <%= fullapplication.town %>
      </p>

      <p>
        <strong>Zip code:</strong>
        <%= fullapplication.zip_code %>
      </p>

      <p>
        <strong>State:</strong>
        <%= fullapplication.state %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= fullapplication.country %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= fullapplication.email %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= fullapplication.phone_number %>
      </p>

    </div>
  </div>
</div>

