<p style="color: green"><%= notice %></p>

<%= render @fullapplication %>

<div>
  <%= link_to "Edit this Address", edit_fullapplication_path(@fullapplication) %> |
  <%= link_to "Back to list of Addresses", fullapplications_path %>

  <%= button_to "Destroy this Address", @fullapplication, method: :delete %>
</div>
