
<div id="<%= dom_id person %>">
  <p>
    <strong>Suffix:</strong>
    <%= person.suffix %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Birtday:</strong>
    <%= person.birtday %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= person.comment %>
  </p>
</div>
